body{
    background-color: white;
    text-align: center;
    color: black; 
}
.converter{
    height: 70px;
    width: 200px;
    font-size: large;
    margin: 20px;
    text-align: center;
}
#Lbtn{
    display: none;
}
#Dbtn{
    display: inline;

}
